@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 16rem;
}
.firstTable{
  display: inline-block;
  margin:50px auto ;
  margin-left: 40px auto;
  margin-right: 40px auto;

}
.secondTable{
  display: inline-block;
  margin-top: 6.5rem;
  margin-right: 5rem;
  float: right;
}
.weight{
 width: 37rem;  
 border-radius: 10px;
 margin-left: auto;
 margin-right: 2,5rem;
 float:left;
}
.height{
  width: 37rem;  
  border-radius: 10px;
  margin-left: auto;
  margin-right: 2,5rem;
  float:left;
  margin-bottom: 0,2rem;
}


form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
